#form-area {
    padding-left: 22%;
    padding-top: 3%;
}

#form-area a {
    text-decoration: underline;
    color: -moz-hyperlinktext;
}

#error-label {
    color: #dc3545;
}

input {
    width: 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#active-tab {
    background: #dc3545;
}

.w3-sidebar a:hover,
.w3-sidebar a:default,
.w3-sidebar a:visited,
.w3-sidebar a {
    text-decoration: none;
    font-size: 24px;
}