html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.body {
    margin-top: 100px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    max-height: 80px;
    background-color: #dc3545;

    font-size: 20px;
    font-weight: bold;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    padding-top: 20%;
}

li {
    padding-right: 20px;
}

footer {
    z-index: 9999;
    background: slategray;
}

#spacer {
    padding-bottom: 20%;
}

.footer-copyright {
    background: #dc3545;
}

.nav-item a:link,
.nav-item a:visited {
    font-family: "Segoe UI", Arial, sans-serif;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}